<?xml version="1.0" encoding="utf-8"?>

  <Body>
    <Character name = "Don">
      <a jumpVelo ="3.6"/>
      <a walkSpeed ="2.2"/>
    </Character>

    <Image name = "Floof">
      <a file = "assets/platformtexture.png"/>
    </Image>

    <Image name = "Box">
      <a file = "assets/woodbox.png"/>  
    </Image>

    <Image name ="BorderRight">
      <a file ="assets/brickwallright.png"/>
    </Image>

    <Image name ="BorderLeft">
      <a file ="assets/brickwallleft.png"/>
    </Image>

    <Image name="Bullet">
      <a file="assets/Bullet.png"/>
    </Image>
    
    <DynamicImage name = "bunny">
      <a rotateimage ="false"/>
      <a centerx ="32" centery="32"/>
      
      <Animation>
        <a frames ="1"/>
        <a file = "assets/bunny1230.png"/>
        <a action = ""/>
        <a angle = "359"/>
      </Animation>

      <Animation>
        <a frames ="4"/>
        <a file = "assets/walkbunny1230.png"/>
        <a action = "walk"/>
        <a angle = "359"/>
      </Animation>

      <Animation>
        <a frames ="1"/>
        <a file = "assets/bunny1231.png"/>
        <a action = ""/>
        <a angle = "0"/>
      </Animation>
      
      <Animation>
        <a frames ="4"/>
        <a file = "assets/walkbunny1231.png"/>
        <a action = "walk"/>
        <a angle = "0"/>
      </Animation>

      <Animation>
        <a frames ="1"/>
        <a file = "assets/bunny1251.png"/>
        <a action = ""/>
        <a angle = "45"/>
      </Animation>

      <Animation>
        <a frames ="4"/>
        <a file = "assets/walkbunny1251.png"/>
        <a action = "walk"/>
        <a angle = "45"/>
      </Animation>

      <Animation>
        <a frames ="1"/>
        <a file = "assets/bunny1211.png"/>
        <a action = ""/>
        <a angle = "90"/>
      </Animation>
      
      <Animation>
        <a frames ="4"/>
        <a file = "assets/walkbunny1211.png"/>
        <a action = "walk"/>
        <a angle = "90"/>
      </Animation>

      <Animation>
        <a frames ="1"/>
        <a file = "assets/bunny1261.png"/>
        <a action = ""/>
        <a angle = "135"/>
      </Animation>

      <Animation>
        <a frames ="4"/>
        <a file = "assets/walkbunny1261.png"/>
        <a action = "walk"/>
        <a angle = "135"/>
      </Animation>
      
      <Animation>
        <a frames ="1"/>
        <a file = "assets/bunny1221.png"/>
        <a action = ""/>
        <a angle = "180"/>
      </Animation>

      <Animation>
        <a frames ="4"/>
        <a file = "assets/walkbunny1221.png"/>
        <a action = "walk"/>
        <a angle = "180"/>
      </Animation>

      <Animation>
        <a frames ="1"/>
        <a file = "assets/bunny1220.png"/>
        <a action = ""/>
        <a angle = "181"/>
      </Animation>

      <Animation>
        <a frames ="4"/>
        <a file = "assets/walkbunny1220.png"/>
        <a action = "walk"/>
        <a angle = "181"/>
      </Animation>

      <Animation>
        <a frames ="1"/>
        <a file = "assets/bunny1270.png"/>
        <a action = ""/>
        <a angle = "225"/>
      </Animation>

      <Animation>
        <a frames ="4"/>
        <a file = "assets/walkbunny1270.png"/>
        <a action = "walk"/>
        <a angle = "225"/>
      </Animation>

      <Animation>
        <a frames ="1"/>
        <a file = "assets/bunny1200.png"/>
        <a action = ""/>
        <a angle = "270"/>
      </Animation>

      <Animation>
        <a frames ="4"/>
        <a file = "assets/walkbunny1200.png"/>
        <a action = "walk"/>
        <a angle = "270"/>
      </Animation>

      <Animation>
        <a frames ="1"/>
        <a file = "assets/bunny1240.png"/>
        <a action = ""/>
        <a angle = "315"/>
      </Animation>

      <Animation>
        <a frames ="4"/>
        <a file = "assets/walkbunny1240.png"/>
        <a action = "walk"/>
        <a angle = "315"/>
      </Animation>

      <Animation>
        <a frames ="1"/>
        <a file ="assets/jumpbunny1211.png"/>
        <a action ="jump"/>
        <a angle ="90"/>
      </Animation>

      <Animation>
        <a frames ="1"/>
        <a file ="assets/jumpbunny1200.png"/>
        <a action ="jump"/>
        <a angle ="270"/>
      </Animation>
      
    </DynamicImage>
    
  </Body>
